<section id="fh5co-services" data-section="services" data-stellar-background-ratio="0.5">
	<div class="gradient"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-left">
				<h2 class="left-border to-animate">{{ with .Site.Params.services.title }}{{ . | markdownify }}{{ end }}</h2>
				<div class="row">
					<div class="col-md-12 subtext to-animate">
						<h3>{{ with .Site.Params.services.description }}{{ . | markdownify }}{{ end }}</h3>
					</div>
				</div>
				<!-- Add plain text field with a title -->
				<div class="row">
					<div class="col-md-12 fh5co-service to-animate">
						<h3>{{ with .Site.Params.services.subtitle }}{{ . | markdownify }}{{ end }}</h3>
						<p>{{ with .Site.Params.services.description2 }}{{ . | markdownify }}{{ end }}</p>
						<table class="table">
							<thead>
							  <tr>
								<th scope="col">UC</th>
								<th scope="col">Professores</th>
								<th scope="col">Semestre</th>
								<th scope="col">ECTS</th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
								<th scope="row">Opção Nuclear: Design de Produto, Design de Interação, Desenvolvimento e Aprendizagem em Educação </th>
								<td>André Rocha, Tiago Almeida, Miguel Soeiro, Luís Frias</td>
								<td>Eletiva, escolha 2 de 3* - 1S</td>
								<td>15 - 2 UC, 7,5 cada</td>
							  </tr>
							  <tr>
								<th scope="row">Gestão de Design</th>
								<td>Nuno Monge, Bernardo Gaeiras</td>
								<td>1S</td>
								<td>5</td>
							  </tr>
							  <tr>
								<th scope="row">Ambientes Educativos Físicos e Digitais</th>
								<td>Adriana Cardoso, Pedro Mosca, Luís Frias</td>
								<td>1S</td>
								<td>5</td>
							  </tr>
							  <tr>
								<th scope="row">Laboratório de Linguagens Digitais</th>
								<td>André Rocha, André Sier</td>
								<td>1S</td>
								<td>5</td>
							  </tr>
							  <tr>
								<th scope="row">Jogos, Brinquedos e Recursos Educativos</th>
								<td>Tiago Almeida, Miguel Mata Pereira</td>
								<td>2S</td>
								<td>5</td>
							  </tr>
							  <tr>
								<th scope="row">Seminário de Projetos</th>
								<td>Tiago Almeida, Miguel Mata Pereira, alumni and other invitees</td>
								<td>2S</td>
								<td>5</td>
							  </tr>
							  <tr>
								<th scope="row">Projeto de Produtos Interativos para Educação</th>
								<td>André Rocha, Miguel Soeiro, Luís Frias, André Sier, Madalena Matoso</td>
								<td>2S</td>
								<td>20</td>
							  </tr>
							</tbody>
						  </table>
					</div>
					<nbsp></nbsp>
						<nbsp></nbsp>
					<div class="col-md-6 fh5co-service to-animate">
						<hr>
						<h3>{{ with .Site.Params.services.subtitle3 }}{{ . | markdownify }}{{ end }}</h3>
						<p>O curso de pós-graduação em Design de Produtos Interativos para Educação pretende contribuir para a preparação de profissionais de design e educação para a sua integração e eventual coordenação de equipas multidisciplinares para desempenho de tarefas relacionadas com o design, a seleção e/ou implementação de produtos interativos para educação. Do brinquedo ao recurso educativo aberto, passando pelos produtos interativos gráficos e pelo trabalho, design e prototipagem em ambiente de Fablab, com especial ênfase nas tecnologias, design e recursos abertos, é esperado que os/as Estudantes/as desenvolvam as seguintes competências transversais: </p>
							<ul>
								<li>Mobilização, integração e desenvolvimento dos conhecimentos e competências de design, análise e avaliação de produtos interativos para a educação;</li>
								<li>Definição de estratégias de utilização de tecnologias interativas em contexto educativo;</li>
								<li>Seleção e utilização de metodologias de design de produtos interativos para a educação;</li>
								<li>Capacidade de comunicação e gestão de projeto.</li>
							</ul>	
					</div>
					<div class="col-md-6 fh5co-service to-animate">
						
						<hr>
						<h3>Organização e Plano de Estudos</h3>
						<p>O curso de pós-graduação está dividido em duas componentes:</br>
							a) uma componente de formação curricular (40 ECTS);</br>
							b) uma componente de projeto suportada por trabalho autónomo, sessões de tutoria, seminários e uma componente letiva, orientada para o desenvolvimento de um projeto (20 ECTS).</p>
							<h3>Destinatários</h3>
							<p>. Licenciados, mestres ou doutores de cursos afetos às ciências da educação;;</br>
							. Licenciados, mestres ou doutores em cursos afetos ao design;</br>
							. Licenciados, mestres ou doutores em áreas relacionadas com as supramencionadas.</p>
						<button class="btn btn-primary btn-lg" onclick="window.location.href='https://www.eselx.ipl.pt/candidatos/pos-graduacoes/candidatura'">Candidatura</button>
						<p></p>	
						<p>!! ATÉ 21 de JULHO !!</p>	
						<p>!! BOLSAS DISPONÍVEIS !!</p>		
					</div>
					
					
				</div>
				<div class="logosPRR">
					<nbsp></nbsp>
					<p>	</p>
					<p>	</p>
					<img src="https://www.eselx.ipl.pt/sites/default/files/inline-images/barra_prr-01.png" alt="IPL" style="display: block; margin-left:auto; margin-right:auto; opacity: .7; width: 60vw;">

				</div>
				<!-- End of plain text field -->
			</div>
			
			
		</div>
		<!-- <div class="row">
		{{ range .Site.Params.services.item }}
			<div class="col-md-6 col-sm-6 fh5co-service to-animate">-->
				<!-- <i class="icon to-animate-2 {{ .icon | markdownify }}"></i> -->
				<!-- <h3>{{ .title | markdownify }}</h3>
				<p>{{ .description | markdownify }}</p>
			</div>
			<div class="clearfix visible-sm-block"></div>
		{{ end }}
		</div> -->
	</div>
</section>
